
/* section start */
.logo .heading {
    padding: 3rem;
    margin-top: 7rem;
}
.logo .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
    gap: 1.5rem;
}

.logo .box-container .box{
    padding: 1rem 1rem;
    background: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--black);
}

.logo .box-container .box:hover{
    outline: var(--outline-hover);
    outline-offset: 0rem;
}

.logo .box-container .box img{
    margin: 1rem 0;
    width: 100%;
    height: 30rem;
}

.logo .box-container .box h3{
    font-size: 2.5rem;
    line-height: 1.8;
    color: var(--light-color);
}
.logo .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color: #777;
    text-align: left;
}

.back {
    margin: 10px 0;
}

.back-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007bff;
    color: #ffffff;           
    text-decoration: none;    
    border-radius: 5px;       
    font-size: 14px;          
    font-weight: bold;        
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.back-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);    
}

.back-button:active {
    background-color: #17bccb;
    transform: scale(0.95);    
}

.image-preview {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.image-preview.active {
    display: flex;
}

.image-preview img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.image-preview .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #fff;
    color: #333;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1001;
}

.image-preview .close-button:hover {
    background: #333;
    color: #fff;
}
/* For tablets (screen width 768px and below) */
@media (max-width: 768px) {
    .card {
        width: 70%; /* Adjust width for smaller screens */
        max-width: 300px;
    }

    .image-preview img {
        max-width: 95%; /* Reduce max size for smaller screens */
    }
}

/* For mobile phones (screen width 480px and below) */
@media (max-width: 480px) {
    .card {
        width: 100%; /* Full-width cards for mobile */
    }

    .image-preview img {
        max-width: 90%; /* Slightly smaller image previews */
    }

    .image-preview .close-button {
        width: 30px;
        height: 30px;
        font-size: 1rem; /* Smaller close button */
    }
    .back {
        position:absolute;
        top: 12%; /* Vertically centers the container */
    }
} 
